@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid text-center">
    <h1 class="">Welcome to the recipe manager, Chef</h1>
    <div class="container d-flex justify-content-center">
        <img src="~/img/placeholder-home.svg" alt="Placeholder image. Free to use on non-comercial purposes: https://caluyadesign.wpengine.com/kitchen-sign-svg-png-eps-dxf/">
    </div>
</div>