@{
    ViewData["Title"] = "All Ingredients";
}

<div class="text-center">
    <h1 class="">All Ingredients</h1>
</div>
<div class="container-fluid">
    <div class="row row-cols-2">
        <div class="col-8">
            @foreach (var ingredient in ViewBag.AllIngredients)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@ingredient.Name</h5>
                        <h6 class="card-subtitle">@ingredient.Quantity units in stock</h6>
                        <a asp-area="" asp-controller="Ingredient" asp-action="View" asp-route-id="@ingredient.IId" class="text-reset text-decoration-none stretched-link"></a>
                    </div>
                </div>
            }
        </div>
        <div class="col-4">
            <div class="container-fluid d-flex justify-content-center">
                <a asp-area="" asp-controller="Ingredient" asp-action="Add" class="btn btn-outline-primary">Add New Ingredient</a>
            </div>
            <div class="container-fluid d-flex justify-content-center">
                <img src="~/img/placeholder.svg" alt="Placeholder image. Free to use on non-comercial purposes: https://caluyadesign.wpengine.com/your-opinion-is-not-part-of-recipe-svg-png-eps-dxf/">
            </div>
        </div>
    </div>
</div>