@{
    ViewData["Title"] = ViewBag.Ingredient.Name;
}

<div class="text-center">
    <h1 class="">@ViewBag.Ingredient.Name</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row d-flex justify-content-center">
                <div class="card mw-75">
                    <div class="card-body">
                        <h5 class="card-title text-black pb-3">Details:</h5>
                        <p class="card-text">@ViewBag.Ingredient.Quantity units in stock</p>
                    </div>
                    <div class="card-body">
                        <a asp-area="" asp-controller="Ingredient" asp-action="Edit" asp-route-id="@ViewBag.Ingredient.IId" class="btn btn-warning">Edit</a>
                        <a asp-area="" asp-controller="Ingredient" asp-action="Delete" asp-route-id="@ViewBag.Ingredient.IId" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>