@{
    ViewData["Title"] = "All Recipes";
}

<div class="text-center">
    <h1 class="">All Recipes</h1>
</div>

<div class="container-fluid">
    <div class="row row-cols-2">
        <div class="col-8">
            @foreach (var recipe in ViewBag.AllRecipes)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@recipe.Name</h5>
                        <h6 class="card-subtitle text-muted pb-3">Ingredients:</h6>
                        @foreach (var ingredient in recipe.Ingredients)
                        {
                            <p class="card-text text-muted py-0 my-0">@ingredient.Quantity units of @ViewBag.LazyTranslate[ingredient.IId]</p>
                        }
                        <a href="#" class="text-reset text-decoration-none stretched-link"></a>
                    </div>
                </div>
            }
        </div>
        <div class="col-4">
            <img src="~/img/placeholder.svg" alt="Placeholder image. Free to use on non-comercial purposes: https://caluyadesign.wpengine.com/your-opinion-is-not-part-of-recipe-svg-png-eps-dxf/">
        </div>
    </div>
</div>